<!-- Template para Distribución Tópico-Palabra -->

{% extends "layout.html" %}
{% block content %}

<h3>Tópico #{{topic.id}} (con {{topic.nwords}} palabras)</h3>
<h4>Distribución "{{tddis.name}}"</h4>

<p>
<a href="{{url_for('dis_tddis_table', ts_id = ts_id, tddis_id = tddis.id, topic_id = topic.id - 1) }}" class="waves-effect waves-light btn-small">
  Anterior Tópico
</a>

<a href="{{url_for('dis_tddis_table', ts_id = ts_id, tddis_id = tddis.id, topic_id = topic.id + 1) }}" class="waves-effect waves-light btn-small">
  Siguiente Tópico
</a>
</p>

<p>
  <a href="{{url_for('plot_tddis_topic', ts_id = ts_id, tddis_id = tddis.id, topic_id = topic.id) }}" class="waves-effect waves-light btn-small red">
    Ver Gráfica
  </a>

  <a href="{{url_for('dis_tddis', ts_id = ts_id, tddis_id = tddis.id) }}" class="waves-effect waves-light btn-small blue">
    Ir a la Distribución
  </a>

  <a href="{{url_for('topic', ts_id = ts_id, topic_id = topic.id) }}" class="waves-effect waves-light btn-small green">
    Ir al Tópico {{topic.id}}
  </a>
</p>

Este tópico se asocia con {{dnum}} dócumentos en esta distribución. Dar click en el encabezado de alguna columna para ordenar los datos según ese campo.

{{table | safe}}

{% include 'interactive_table_import.html' %}

{% endblock content %}
