{% extends "layout.html" %}
{% block content %}
<h1 class="center-align">
  Distribuciones
</h1>

<div>
  <h3> Distribuciones Tópico-Palabra </h3>
</div>
  <ul class="collection">
  {%  for twdis in twdis_list %}
    <li class="collection-item">
      <h5> ID #{{twdis.id}} : "{{twdis.name}}" </h5>
      <p> {{twdis.description}} </p>
      <p>
        <a href="{{url_for('dis_twdis', ts_id = ts_id, twdis_id = twdis.id) }}" class="waves-effect waves-light btn blue">
          Info
        </a>
        <a href="{{url_for('dis_twdis_table', ts_id = ts_id, twdis_id = twdis.id, topic_id = 0) }}" class="waves-effect waves-light btn orange">
          Tabla por Tópico
        </a>
        <a href="{{url_for('plot_twdis_summary', ts_id = ts_id, twdis_id = twdis.id) }}" class="waves-effect waves-light btn">
          Gráfico Resumen
        </a>
        <a href="{{url_for('plot_twdis_topic', ts_id = ts_id, twdis_id = twdis.id, topic_id = 0) }}" class="waves-effect waves-light btn">
          Gráfico por Tópico
        </a>
        <a href="{{url_for('dis_twdis_download', ts_id = ts_id, twdis_id = twdis.id) }}" class="waves-effect waves-light btn green">
          Descargar TXT
        </a>

      </p>
    </li>
  {% endfor %}
  </ul>

  <div>
    <h3> Distribuciones Tópico-Documento </h3>
  </div>
    <ul class="collection">
    {%  for tddis in tddis_list %}
      <li class="collection-item">
        <h5> ID #{{tddis.id}} : "{{tddis.name}}" </h5>
        <p> {{tddis.description}} </p>
        <p>
          <a href="{{url_for('dis_tddis', ts_id = ts_id, tddis_id = tddis.id) }}" class="waves-effect waves-light btn blue">
            Info
          </a>

          <a href="{{url_for('dis_tddis_table', ts_id = ts_id, tddis_id = tddis.id, topic_id = 0) }}" class="waves-effect waves-light btn orange">
            Tabla por Tópico
          </a>

          <a href="{{url_for('plot_tddis_summary', ts_id = ts_id, tddis_id = tddis.id) }}" class="waves-effect waves-light btn">
            Gráfico Resumen
          </a>
          <a href="{{url_for('plot_tddis_topic', ts_id = ts_id, tddis_id = tddis.id, topic_id = 0) }}" class="waves-effect waves-light btn">
            Gráfico por Tópico
          </a>
          <a href="{{url_for('dis_tddis_download', ts_id = ts_id, tddis_id = tddis.id) }}" class="waves-effect waves-light btn green">
            Descargar TXT
          </a>
        </p>
      </li>
    {% endfor %}
    </ul>
{% endblock content %}
