{% extends "layout.html" %}
{% block content %}

<p> Ingrese la cadena para realizar la busqueda. Se encontrarán todas las palabras que contengan a la cadena ingresada </p>

<div>
    <form method="POST" action="">
        {{ form.hidden_tag()}}
        <fieldset>
            <div>
            {{ form.searched.label() }}
            {% if form.searched.errors%}
                {{ form.searched() }}
            {% else %}
                {{ form.searched() }}
            {% endif %}

            {{ form.submit(class="waves-effect waves-light btn-small")}}
            
                <div>
                    {% for error in form.searched.errors%}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>

            </div>

        </fieldset>
    </form>
</div>
{% endblock content %}