{% extends "layout.html" %}
{% block content %}

<h1> Tópico # {{ topic_id }} ({{nwords}} palabras) </h1>

<p>

<a href="{{url_for('topic', ts_id = ts_id, topic_id = topic_id)}}" class="waves-effect waves-light btn-small orange">
    Ver Tabla del Tópico {{topic_id}}
</a>


<h5> Distribuciones Tópico-Palabra</h5>
  <table>
  <tr>
    <th>Distribución</th>
    <th>Link a Tabla</th>
    <th>Link a Gráfico</th>
  </tr>
  {%  for twdis in twdis_list %}
  <tr>
    <td>
        <a href= {{url_for('dis_twdis', ts_id = ts_id, twdis_id = twdis.id) }}> ID #{{twdis.id}}  "{{twdis.name}}" </a>
    </td>
    <td>
        <a href="{{url_for('dis_twdis_table', ts_id = ts_id, twdis_id = twdis.id, topic_id = topic_id) }}">
            Tabla del Tópico {{topic_id}}
        </a>
    </td>
    <td>
        <a href="{{url_for('plot_twdis_topic', ts_id = ts_id, twdis_id = twdis.id, topic_id = topic_id) }}" >
            Gráfico del Tópico {{topic_id}}
        </a>
    </td>

    </tr>
  {% endfor %}
  </table>

<h5> Distribuciones Tópico-Documento</h5>
  <table>
  <tr>
    <th>Distribución</th>
    <th>Link a Tabla</th>
    <th>Link a Gráfico</th>
  </tr>
  {%  for tddis in tddis_list %}
  <tr>
    <td>
        <a href= {{url_for('dis_tddis', ts_id = ts_id, tddis_id = tddis.id) }}> ID #{{tddis.id}}  "{{tddis.name}}" </a>
    </td>
    <td>
        <a href="{{url_for('dis_tddis_table', ts_id = ts_id, tddis_id = tddis.id, topic_id = topic_id) }}">
            Tabla del Tópico {{topic_id}}
        </a>
    </td>
    <td>
        <a href="{{url_for('plot_tddis_topic', ts_id = ts_id, tddis_id = tddis.id, topic_id = topic_id) }}" >
            Gráfico del Tópico {{topic_id}}
        </a>
    </td>

    </tr>
  {% endfor %}
  </table>

{% endblock content %}