{% extends "layout.html" %}
{% block content %}
<h1>Palabra ID#{{word.id}}: {{ word.word_string }} </h1> 

<p>
<a href="{{url_for('word_distributions', ts_id = ts_id, word_id = word.id - 1) }}" class="waves-effect waves-light btn-small">
    Anterior Palabra
</a>
<a href="{{url_for('word_distributions', ts_id = ts_id, word_id = word.id + 1) }}" class="waves-effect waves-light btn-small">
    Siguiente Palabra
</a>
<a href="{{url_for('word', ts_id = ts_id, word_id =  word.id) }}" class="waves-effect waves-light btn-small orange darken-4">
    Ver Tópicos de esta palabra
</a>
</p>

<h4 class="center-align"> Distribuciones Tópico-Palabra:</h4>

{% for twdis in twdis_list %}
<h5 class="center-align"> Distribución: "{{twdis.name}}" </h5>
  <table>
  <tr>
    <th>Tópico</th>
    <th>Valor</th>
  </tr>
  {%  for twdisvalue in twdisvalues_list[loop.index -1] %}
  <tr>
    <td>
        <a href="{{url_for('dis_twdis_table', ts_id = ts_id, twdis_id = twdisvalue.twdis_id, topic_id = twdisvalue.topic_id) }}">
            {{twdisvalue.topic_id}}
        </a>
    </td>
    <td>
        {{ "%.4f"|format(twdisvalue.value) }}
    </td>

    </tr>
  {% endfor %}
  </table>
{% endfor %}

{% endblock content %}
