{% extends "layout.html" %}
{% block content %}

<h1>Plots</h1>

<h4> Del TopicSet </h4>
<div style="padding: 5px 5px 0px 5px;">
  <a href="{{url_for('plot_topics_nwords', ts_id = ts_id) }}" class="waves-effect waves-light btn">
    Tópicos - # Palabras
  </a>
</div>

<div style="padding: 5px 5px 0px 5px;">
  <a href="{{url_for('plot_words_ntopics', ts_id = ts_id) }}" class="waves-effect waves-light btn">
    Palabras - # Tópicos
  </a>
</div>

<h5> Distribuciones Tópico-Palabras </h5>
{% for twdis in twdis_list %}
<div>
  <p>
    <p> ID {{twdis.id}}: {{twdis.name}} </p>
    <a href="{{url_for('plot_twdis_summary', ts_id = ts_id, twdis_id = twdis.id) }}" class="waves-effect waves-light btn-small">
      Gráfico Resumen
    </a>
    <a href="{{url_for('plot_twdis_topic', ts_id = ts_id, twdis_id = twdis.id, topic_id = 0) }}" class="waves-effect waves-light btn-small">
      Gráfico por Tópico
    </a>
  </p>
</div>
{% endfor %}

{% endblock content %}
