{% block head %}
{% include 'plots/bokeh_head_import.html' %}
{% endblock %}

{% extends "layout.html" %}
{% block content %}
<h1>Resumen:</h1>
<h3>Distribución "{{twdis.name}}"</h3>
<p>
  <a href="{{url_for('dis_twdis', ts_id = ts_id, twdis_id = twdis.id) }}" class="waves-effect waves-light btn-small blue">
    Info de la Distribución
  </a>
</p>

<p>A continuación se grafica el máximo, mínimo y promedio de la distribución "{{twdis.name}}" en cada tópico:</p>
{{ div|safe }}

<p>Como referencia, a continuación se grafica el número de palabras que cada tópico tiene: </p>
{{div2 | safe}}

{{ script|safe }}

{% endblock content %}
