{% block head %}
{% include 'plots/bokeh_head_import.html' %}
{% endblock %}

{% extends "layout.html" %}
{% block content %}
<h3>Tópico #{{topic.id}} (con {{topic.nwords}} palabras)</h3>
<h4>Distribución "{{twdis.name}}"</h4>

<p>
<a href="{{url_for('plot_twdis_topic', ts_id = ts_id, twdis_id = twdis.id, topic_id = topic.id - 1) }}" class="waves-effect waves-light btn-small">
  Anterior Tópico
</a>

<a href="{{url_for('plot_twdis_topic', ts_id = ts_id, twdis_id = twdis.id, topic_id = topic.id + 1) }}" class="waves-effect waves-light btn-small">
  Siguiente Tópico
</a>

<!--
<form action="" method="get">
<input type="number" name="topic" style="width: 20px;"/>
<input type="submit" value="Go" />
</form>
-->

</p>

<p>
  <a href="{{url_for('explore_topic_table', ts_id = ts_id, topic_id = topic.id, col1 = 'twdis' ~ twdis.id) }}" class="waves-effect waves-light btn-small red">
    Ver Tabla
  </a>

  <a href="{{url_for('dis_twdis', ts_id = ts_id, twdis_id = twdis.id) }}" class="waves-effect waves-light btn-small blue">
    Ir a la Distribución
  </a>

  <a href="{{url_for('topic', ts_id = ts_id, topic_id = topic.id) }}" class="waves-effect waves-light btn-small green">
    Ir al Tópico {{topic.id}}
  </a>
</p>

<p> Panorama de la distribución en este tópico: </p>
{{ div|safe }}

<p> Gráfica completa de la distribución en este tópico: </p>
{{ div2|safe }}

{{ script|safe }}

{% endblock content %}
